/* HEADER  */
.nav-background {
  max-width: 100%;
  background-color: var(--gray-background);
}

.nav-container {
  display: flex;
  color: var(--copyright);
  padding: 5px 8rem;
  margin-bottom: 20px;
}

.nav-container a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container a > svg {
  margin-right: 10px;
}

.nav-container a:hover {
  text-decoration: underline;
}

.nav-home-container {
  margin-right: 10px;
}

.nav-contact-container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.nav-contact-container a:nth-child(1) {
  margin-right: 1.5rem;
}

.phone-container {
  display: flex;
  padding: 5px 8rem;
  margin-bottom: 20px;
}

.phone-number {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.phone-number > div > p {
  color: var(--gray-text);
  font-size: 1.3rem;
  margin-bottom: 5px;
  font-style: italic;
}

.phone-number > div > span {
  color: var(--red);
  font-size: 2.2rem;
  font-style: italic;
}

/* HERO IMAGE  */

.hero-image-container {
  position: relative;
  margin-bottom: 30px;
}

.stamp {
  position: absolute;
  bottom: 27px;
  left: 115px;
  width: 130px;
  height: 130px;
  background: transparent url("img/os-eleitos-grande-vencedor-2017_0.png") 0% 0%
    no-repeat padding-box;
}

/* HOME  */

.home-container {
  padding: 5px 8rem;
  margin-bottom: 20px;
}

.home-container > h3 {
  margin-bottom: 30px;
  font-style: italic;
  font-weight: 400;
  font-size: 2rem;
}
.home-img-container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.lateral-imgs {
  margin-right: 2.2rem;
}

.lateral-imgs > div {
  margin-bottom: 10px;
  border: 1px solid var(--gray-border);
}

.home-container > p {
  font-size: 1.5rem;
}

/* CIVIC 10 SECTION  */

.civic10-background {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #444;
  margin-bottom: 40px;
}

.civic10-container {
  display: flex;
  padding: 5px 400px 5px 8rem;
}

.civic10-text-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.civic10-text {
  position: absolute;
  bottom: 30px;
  left: 8rem;
}

.civic10-text h2 {
  font-style: italic;
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--white);
  font-weight: 400;
}

.civic10-text p {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 400;
}

.civic10-card {
  flex: 1;
  min-width: 220px;
}

.civic10-card > div > img {
  height: 180px;
  border: 2px solid var(--gray-border);
  padding: 4px;
}

.civic10-card:nth-child(1),
.civic10-card:nth-child(2) {
  margin-right: 30px;
}

.civic10-card h3 {
  font-style: italic;
  margin: 5px 0 10px 0;
}

.civic10-card p {
  color: var(--copyright);
  line-height: 20px;
}
