/* HEADER  */
.nav-background {
  max-width: 100%;
  background-color: var(--gray-background);
}

.nav-container {
  display: flex;
  color: var(--copyright);
  padding: 5px 8rem;
  margin-bottom: 20px;
}

.nav-container a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container a > svg {
  margin-right: 10px;
}

.nav-container a:hover {
  text-decoration: underline;
}

.nav-home-container {
  margin-right: 10px;
}

.nav-contact-container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.nav-contact-container a:nth-child(1) {
  margin-right: 1.5rem;
}

.phone-container {
  display: flex;
  padding: 5px 8rem;
  margin-bottom: 20px;
}

.phone-number {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.phone-number > div > p {
  color: var(--gray-text);
  font-size: 1.3rem;
  margin-bottom: 5px;
  font-style: italic;
}

.phone-number > div > span {
  color: var(--red);
  font-size: 2.2rem;
  font-style: italic;
}

/* HERO IMAGE  */

.hero-image-container {
  position: relative;
  margin-bottom: 30px;
}

.stamp {
  position: absolute;
  bottom: 27px;
  left: 115px;
  width: 130px;
  height: 130px;
  background: transparent url("img/os-eleitos-grande-vencedor-2017_0.png") 0% 0%
    no-repeat padding-box;
}

/* FLOAT CONTACT CONTAINER  */
.float-container {
  position: fixed;
  right: 8vw;
  top: 20vh;
  z-index: 10;

  padding: 20px;
  background-color: var(--gray-background);
  border-radius: 4px;
  width: 270px;
  height: 352px;
}

.float-title {
  display: flex;
  margin-bottom: 20px;
}

.float-title img {
  width: 38px;
  margin-right: 11px;
}

.float-title p {
  font-size: 0.9rem;
}

.float-title span {
  color: var(--red);
  font-size: 1.4rem;
}

.float-container > form > input,
.float-container > form > select {
  width: 100%;
  height: 36px;
  padding: 10px;
  margin-bottom: 5px;

  background-color: transparent;
  border: 1px solid var(--gray-border);
  font-family: "roboto";
}

.float-container > form > input[type="text"] {
  background: url("./assets/icons/Grupo\ 32.svg") no-repeat scroll 10px 10px;
  padding-left: 37px;
}

.float-container > form > input[type="email"] {
  background: url("./assets/icons/black-envelope.svg") no-repeat scroll 10px
    10px;
  padding-left: 37px;
}

.float-container > form > input[type="tel"] {
  background: url("./assets/icons/call-answer.svg") no-repeat scroll 10px 10px;
  padding-left: 37px;
}

.float-container > form > select[id="hours"] {
  background: url("./assets/icons/clock-circular-outline.svg") no-repeat scroll
    10px 10px;
  padding-left: 37px;
}

.float-container > form > select[id="local"] {
  background: url("./assets/icons/facebook-placeholder-for-locate-places-on-maps-1.svg")
    no-repeat scroll 10px 10px;
  padding-left: 37px;
}

/* Cor de fundo do autocomplete */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--gray-background) inset !important;
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
  -webkit-text-fill-color: inherit;
}

.float-container > form > button {
  width: 100%;
  height: 45px;
  font-family: "roboto";

  border-radius: 4px;
  border: none;
  background-color: var(--green);
  color: var(--white);
}

.float-container > form > button:hover {
  opacity: 0.9;
}
/* HOME  */

.home-container {
  padding: 5px 400px 5px 8rem;
  margin-bottom: 20px;
}

.home-container > h3 {
  margin-bottom: 30px;
  font-style: italic;
  font-weight: 400;
  font-size: 2rem;
}
.home-img-container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.lateral-imgs {
  margin-right: 2.2rem;
}

.lateral-imgs > div {
  margin-bottom: 10px;
  border: 1px solid var(--gray-border);
}

.home-container > p {
  font-size: 1.5rem;
}

/* CIVIC 10 SECTION  */

.civic10-background {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

.civic10-container {
  display: flex;
  flex-wrap: wrap-reverse;
  padding: 5px 385px 5px 8rem;
  margin-bottom: 30px;
}

.civic10-text-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.civic10-text {
  position: absolute;
  bottom: 30px;
  left: 8rem;
  right: 400px;
}

.civic10-text h2 {
  font-style: italic;
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--white);
  font-weight: 400;
}

.civic10-text p {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 400;
}

.civic10-card {
  flex: 1;
  flex-basis: 200px;
  margin: 15px;
}

.civic10-card > div > img {
  border: 2px solid var(--gray-border);
  padding: 4px;
}

.civic10-card h3 {
  font-style: italic;
  margin: 5px 0 10px 0;
}

.civic10-card p {
  color: var(--copyright);
  line-height: 20px;
}

/* HONDA MARCAS  */

.brands-container {
  padding: 5px 385px 5px 8rem;
  margin-bottom: 60px;

  display: flex;
  flex-direction: column;
}

.brands-container > h2 {
  font-style: italic;
  font-size: 2.1rem;
  margin-bottom: 7px;
}

.brands-container > p {
  font-size: 1.1rem;
  margin-bottom: 33px;
}

.honda-card-container {
  display: flex;
  flex-wrap: wrap-reverse;
}

.honda-card {
  width: 100%;
  flex: 1;
  border: 1px solid var(--gray-border);
  padding: 0 20px 22px 20px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.honda-card > div > img {
  min-width: 150px;
  margin-bottom: 10px;
}

.honda-card > p {
  flex: 1;

  font-size: 0.9rem;
  margin-bottom: 20px;
  font-weight: 400;
  color: var(--copyright);
}

.honda-card > a {
  width: 100%;
  border: 1px solid var(--gray-border);
  padding: 10px 0;

  transition: background-color 0.2s ease;
}

.honda-card > a:hover {
  background-color: rgb(236, 236, 236);
}

/* FOOTER  */

.Contact-background {
  background-color: var(--gray-background);
  padding: 20px 0;
  margin-bottom: 16px;
}

.contact-container {
  padding: 5px 385px 5px 8rem;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-card {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--white);
  padding: 10px 15px;
  margin: 0 15px 17px 15px;

  border: 1px solid var(--red);
  border-radius: 5px;

  white-space: nowrap;
}

.contact-card > img {
  margin-right: 17px;
}

.contact-card > div > p {
  font-size: 0.9rem;
}

.contact-card > div > span {
  font-size: 1.4rem;
  color: var(--red);
}

.contact-card:nth-child(2) {
  padding: 10px 40px;
}

.contact-card:nth-child(2) > div > p,
.contact-card:nth-child(2) > div > span {
  font-style: italic;
}

.contact-container > div > h3 {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 20px;
  text-align: center;
}

.social-container {
  display: flex;
  justify-content: center;
}

.social-card {
  width: 40px;
  height: 40px;
  margin-right: 20px;

  background-color: #c5c5c5;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social-card:last-child {
  margin: 0;
}

.social-card:nth-child(1) img {
  width: 15px;
  height: 25px;
  font-size: 0;
}

.social-card:nth-child(2) img {
  width: 25px;
  height: 25px;
  font-size: 0;
}

.social-card:nth-child(3) img {
  width: 30px;
  height: 25px;
  font-size: 0;
}

.social-card:hover {
  opacity: 0.7;
}

/* COPYRIGHT  */

.copyright-container {
  padding: 5px 8rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright-container p {
  margin: 0 20px 0 137px;
  color: var(--copyright);
  font-size: 0.8rem;
}

@media (max-width: 1154px) {
  .float-container {
    right: 1vw;
  }

  .home-container {
    padding: 5px 300px 5px 8rem;
  }

  .civic10-text {
    right: 300px;
  }

  .civic10-container {
    padding: 5px 300px 5px 8rem;
  }

  .brands-container {
    padding: 5px 285px 5px 8rem;
  }

  .contact-container {
    padding: 5px 285px 5px 8rem;
  }
}

@media (max-width: 907px) {
  .home-img-container {
    flex-direction: column;
  }

  .lateral-imgs {
    margin-right: 0;
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .lateral-imgs div {
    flex: 1;
    margin: 5px;
    flex-basis: 100px;
  }
}
